// COLORS:
//
// All non-primary color names follow this format:
// - begin with "peaxy-"
// - followed by the dominant color:
//       red yellow green cyan blue magenta gray
//   roughly determined by RGB proportions - use yellow/cyan/magenta/gray when
//   their adjacent primaries are roughly equal.
// - followed by dominant color shade:
//       verydark 0-2, dark 3-5, medium 6-9, light A-C, verylight D-F
// - optionally followed by a more specific color qualifier (e.g. tint, number)

$peaxy-blue-verydark:              #002337;     // tooltips, sort order caret that are mostly unused
$peaxy-blue-dark:                  #24303F;     // official secondary: DARK BLUE is #201547
$peaxy-blue:                       #00456E;     // official primary:   PEAXY BLUE
$peaxy-blue-gray:                  #33505f;     // non-standard color
$peaxy-blue-light:                 #336A8A;     // select, menus that are mostly unused
$peaxy-blue-light-cyan:            #0092C9;     // chart, install, progress background that are mostly unused
$peaxy-blue-verylight-cyan:        #00A3E0;     // official primary: PEAXY ELECTRIC BLUE

$peaxy-gray-dark:                  #444444;
$peaxy-gray-dark-cyan:             #515557;
$peaxy-gray-medium:                #666666;
$peaxy-gray-medium-white:          #888888;
$peaxy-gray-medium-cyan:           #85959F;
$peaxy-gray-light:                 #A2AAAD;     // official secondary: GRAY
$peaxy-gray-light-peach:           #DEB887;
$peaxy-gray-verylight-peach:       #FFBEA3;
$peaxy-gray-verylight:             #C4C4C4;
$peaxy-gray-light-white:           #CDCDCD;
$peaxy-gray-verylight-yellow:      #D5D1C3;
$peaxy-gray-putty:                 #D6D2C4;     // official secondary: PUTTY
$peaxy-gray-verylight-shadow:      #E0E0E0;
$peaxy-gray-background:            #EEEEEE;
$peaxy-gray-verylight-white:       #F5F5F5;

$peaxy-red-medium:                 #BB1F34;

$peaxy-color-normal:               #256F31;
$peaxy-color-caution:              #F9E267;     // tertiary: YELLOW; warn user of dangerous action
$peaxy-color-info:                 #707B2D;

// see also places where health is needed by js:
//   hyperfilerDashboardController.getNodeHealthColor()
//   common/util/pieChart.capacityColors() usually match healthy, warning
$peaxy-color-failed:               #840B55;     // official secondary: RHUBARB
$peaxy-color-critical:             #F4364C;     // tertiary: CHERRY RED;  #FF3333 is easier to distinguish from healthy
$peaxy-color-warning:              #F2A900;     // tertiary: ORANGE;      #F8B950 is easier to distinguish from critical
$peaxy-color-healing:              #00A3E0;
$peaxy-color-healthy:              #256F31;
$peaxy-color-unknown:              #888888;

$peaxy-color-FAILED:               $peaxy-color-failed;
$peaxy-color-DEGRADED:             $peaxy-color-warning;
$peaxy-color-NORMAL:               $peaxy-color-healthy;
$peaxy-color-UNKNOWN:              $peaxy-color-unknown;


// Secondary button color palette

$peaxy-secondary-active:           #A5A5A5;
$peaxy-secondary-hover:            #707070;
$peaxy-secondary-disabled:         #D8D8D8;
$peaxy-secondary-shadow:           #595959;

// Primary button color palette

$peaxy-primary-active:             #00A3E0;
$peaxy-primary-hover:              #0092C9;
$peaxy-primary-disabled:           #337ab7;
$peaxy-primary-shadow:             #0070AD;


// SKIN ATTRIBUTES:
//
// Map of skin attributes to colors.
// Preferably, use these.
// Use peaxy-<standard_attribute_names>

$peaxy-background-color:           $peaxy-gray-background;
$peaxy-card-background-color:      #FFFFFF;
$peaxy-panel-background-color:     #E4F2FF;
$peaxy-panel-background-color-darker: #D4E2FA;

$peaxy-color-border:               $peaxy-blue-dark;
$peaxy-color-font:                 $peaxy-blue-dark;
$peaxy-font-color:                 $peaxy-blue-dark;

$peaxy-color-shadow:               $peaxy-gray-verylight-shadow;
$peaxy-color-border:               $peaxy-blue-dark;

$peaxy-nav-inverse-bg:             $peaxy-blue-verydark;

