// MIXINS

@mixin vendorize($property, $value) {
  -webkit-#{$property}: $value;
     -moz-#{$property}: $value;
      -ms-#{$property}: $value;
       -o-#{$property}: $value;
          #{$property}: $value;
}

@mixin animation-transition($start,$secs) {
  -webkit-transition: $start $secs;
     -moz-transition: $start $secs;
       -o-transition: $start $secs;
          transition: $start $secs;
}

@mixin transition-property($width,$height) {
  -webkit-transition-property: $width, $height; /* Safari and Chrome */
     -moz-transition-property: $width, $height; /* Firefox 4 */
       -o-transition-property: $width, $height; /* Opera */
          transition-property: $width, $height;
}

@mixin transition-duration($secs) {
  -webkit-transition-duration: $secs; /* Safari */
          transition-duration: $secs;
}

@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

@mixin peaxy-box-shadow($horizontal,$vertical,$blur,$spread,$color) {
  -webkit-box-shadow: $horizontal $vertical $blur $spread $color;
  -moz-box-shadow: $horizontal $vertical $blur $spread $color;
  -o-box-shadow: $horizontal $vertical $blur $spread $color;
  box-shadow: $horizontal $vertical $blur $spread $color;
}

@mixin gradient-vertical($start-color: $peaxy-gray-medium, $end-color: $peaxy-gray-dark, $start-percent: 0%, $end-percent: 100%) {
  background-image: -moz-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);    // Safari 5.1-6, Chrome 10+
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#{ie-hex-str($start-color)}), to(#{ie-hex-str($end-color)}));
  background-image: -webkit-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);
  background-image: -o-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);      // Opera 12
  background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent);   // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}' GradientType=0); // IE9 and down
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin peaxy-health-banner($color){
  border: solid 12px $color;
  border-left: solid 0px $color;
  border-right: solid 0px $color;
  border-bottom: solid 0px $color;
}

@mixin peaxy-button-size($width, $padding-left, $float) {
 width: $width;
 padding-left : $padding-left;
 float:$float;
}

@mixin peaxy-button-generator($color, $background, $hover-background, $disabled-background, $box-shadow) {
  border: none;
  color : $color;
  background-color : $background;
  min-width: 70px;
  height: 28px;
  line-height: 30px;
  cursor: pointer;
  white-space: nowrap;
  @include vendorize(border-radius, 0px);
  box-shadow: 0px 1px 1px 0px $box-shadow;
  &:hover,
  &:focus,
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background-color: $hover-background;
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: $disabled-background;
      opacity: 0.6;
      cursor: not-allowed;
    }
  }
}

@mixin peaxy-opacity($opacity:100){
  opacity: ($opacity/100);
  filter: alpha(opacity=$opacity);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity);
}