<div class="page-header">
    <span class="col-4-12"><img src="assets/Peaxy-Hyperfiler-Logo-White.png"/></span>
    <span class="col-4-12"><a [routerLink]="['Dashboard']">SEARCH</a></span>
    <span class="col-1-12">&nbsp;</span>
    <span class="col-1-12">account</span>
    <span class="col-1-12">menu</span>
    <span class="col-1-12"><a class="p-primary-icons p-i-Support margin-left-1 cursor-pointer" ng-click="openGuide()"></a></span>
</div>
<div class="page-subhead">
    <a [routerLink]="['AUREUM']">AUREUM</a>
</div>

<router-outlet></router-outlet>
